<%= render 'shared/loginout' %>
<% if @user == nil  %>

<%= render 'shared/signupbutton' %> 
<% else  %>


<% end  %>



<% @topics.each do |topic| %>

<h1><%= link_to topic.title, topic_path(topic) %></h1>
<h3><%= topic.description %></h3>

<% end %>

<% if !session %>
    	<% form_for @session, method: :delete do |f| %>
<% f.hidden_field :authenticity_token, value: form_authenticity_token() %>
<% f.hidden_field :authenticity_token, value: form_authenticity_token() %>
<% f.submit %>
<% end  %>
<% end  %>


