<%= render 'shared/loginout' %>
<%= render 'shared/signupbutton' %>



<% @topics.each do |topic| %>

<h1><%= link_to topic.title, topic_path(topic) %></h1>
<h3><%= topic.description %></h3>

<% end %>

