<%= render 'shared/loginout' %>
<% if @user == nil  %>

<%=  button_to 'Sign up', signup_path, class: 'btn btn-success', method: :get %>	

<% end  %>



<% @topics.each do |topic| %>

<h1><%= link_to topic.title, topic_path(topic) %></h1>
<h3><%= topic.description %></h3>

<% end %>

