<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile page</title>
</head>
<body>
	
	<!-- user name -->
	<h4> <%= @user.first_name %> <%= @user.last_name %>  </h4>
	<!-- photos -->
	<%= image_tag @user.avatar.url(:thumb) %> 

	<!-- headline -->
	
	<!-- course taken -->
	
	<!-- social media links -->

	<!-- projects/git -->

	

</body>
</html>