<% if @user  %>
<h6>You are logged in as: <%= @user.screen_name  %></h6>
<form action="/session" method="POST">
<input type="hidden" name="authenticity_token" value = "<%= form_authenticity_token()  %>">
<input type="hidden" name = "_method" value = "DELETE">

<button class='btn btn-danger btn-sm'>Sign Out</button>
</form>

<% else %>
<%= button_to 'Sign In', login_path, class: 'btn btn-primary btn-sm', method: :get %>
<% end  %>