<ul class="pager">
    <li class="previous"><a href="?page=<%= @page -1 %>"><span aria-hidden="true">&larr;</span> Previous</a></li>
    <li class="next"><a href="?page=<%= @page + 1 %>">Next <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>